* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 30px;
	background: #f4feff;
}
.logo img {
	cursor: pointer;
}
.menu_bar ul {
	display: flex;
	list-style: none;
}
.menu_bar ul li {
	padding: 10px 20px;
	font-size: 18px;
	margin-left: 10px;
	color: #8811bf;
	cursor: pointer;
}
.menu_bar ul li:first-child {
	border-bottom: 2px solid #8811bf;
}
.menu_bar ul li:not(:first-child):hover {
	border-bottom: 2px solid #450b78;
}
.first_intro {
	background: #f4feff;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.first_intro .content {
	font-size: 30px;
	padding: 20px;
	width: 40%;
}
.first_intro .illustration {
	width: 40%;
}
.content p {
	font-size: 17px;
}
.content_intro {
	color: #f9218d;
}
.content p, h1 {
	padding: 20px;
}
.content button {
	background: #f9218d;
    padding: 15px;
    width: 173px;
    border-radius: 25px;
    color: #fff;
    font-size: 17px;
    outline: none;
}
.downloadBtn {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 280px;
}
.playBtn {
	width: 20px;
	height: 20px;
	padding: 20px;
   background: #d751e7;
    display: flex;
    align-items: center;
    border-radius: 50;
    border-radius: 50%;
}
.fa-play:before {
    content: "\f04b";
    color: #fff;
}
.best-feature {
	display: flex;
	justify-content: center;
	padding: 52px;
}

.nav-left {
	width: 40%;
}
.nav-right {
	width: 60%;
	margin-top: 100px;
}
.nav-right h1 {
	padding-right: 200px;
	font-size: 40px;
	margin-bottom: 50px;
}
.top-features {
	display: flex;
	padding: 30px;
}
.features {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}
.features img {
	margin-right: 20px;
}
.features_content h3 {
	margin-bottom: 10px;
	font-size: 20px;
}
.features_content p {
	font-size: 16px;
	color: #777;
}
.slogan {
	width: 400px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 80px;
}
.pros_collection {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	padding-bottom: 80px;
}
.pros img {
	margin-left: 60px;
}
.pros h2{
	text-align: center;
	margin-bottom: 30px;
}
.pros {
	padding: 40px 10px;
	background: #fff;
	margin-right: 20px;
	border: 1px solid transparent;
	border-radius: 10px;
}
.pros:hover {
		border: 1px solid #7979DA;
		border-radius: 10px;
}
.active {
		border: 1px solid #7979DA;
		border-radius: 10px;
}
.pros p {
	padding: 0 50px;
	text-align: center;
	color: #aaa;
}
.outstanding_features{
	background: #f4feff;
}
.app_screenshots {
	display: flex;
	justify-content: space-around;
}
.screenshots {
	display: flex;
}
.screenshots_title {
	width: 33%;
	padding: 19px;
	margin-top: 49px;
	padding-top: 100px;
	position: relative;
    z-index: 2;
    background: white;
}
.screenshots_title h2 {
	padding-right: 171px;
    margin-bottom: 50px;
    font-size: 44px;
}
.screenshots_title p {
	color: #aaa;
	font-size: 18px;
	line-height: 1.6;
}
.screenshots {
	width: 50%;
	margin-top: 50px;
}
.screenshots img {
	margin-right: 10px;
}
.pricing_slogan {
	width: 100%;
	height: 600px;
	background: linear-gradient(90deg, #f52a93, #7121ea);
	position: relative;
}
.pricing_slogan img {
	opacity: 0.1;
}
.pricing_slogan_content {
	position: absolute;
	width: 100%;
	top: 100px;
	color: #fff;
	font-size: 50px;
}
.pricing_slogan_content p {
	text-align: center;
	padding: 0 367px;
	font-weight: semi-bold;
}
.all_plans {
	position: absolute;
	top: 300px;
	left: 100px;
	display: flex;
}
.plan_choices {
	width: 350px;
	text-align: center;
	background: #fff;
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 8px;
	margin-right: 20px;
	
}
.plan_choices ul li {
	padding: 20px 0;
	list-style: none;
}
.time {
	font-size: 25px;
}
.pricing {
	font-size: 38px;
	color: #6a56a6;
}
.policy {
	font-size: 18px;
	color: #aaa;

}
.plan_choices button {
	padding: 20px 40px;
	border-radius: 8px;
	outline: none;
	background: #712fda;
	color: #fff;
}
.plan_choices button:hover {
	background: #f9218d;
}
.customers_saying .saying_title {
	width: 600px;
	margin: 0 auto;
	font-size: 50px;
	text-align: center;
}
.saying_person {
	display: flex;
	justify-content: center;
}

.saying_person .saying_man {
	width: 200px;
	padding: 40px;
}
.saying_person .saying_man img, h4 {
	padding-bottom: 20px;
}
.saying_person .saying_man  h4 {
	color: #712fda;
	font-weight: semi-bold;
} 
.saying_person .saying_man  p {
	color: #aaa;
	font-size: 20px;
}
